.profile {
    color: white;
    background-color: black;
    padding-top: 100px;
    height: 100vh;
}

.profile_container {
    color: black;
    background-color: blanchedalmond;
    text-align: center;
    margin-left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.profile_container img {
    padding: 20px;
    width: 100px;
    border-radius: 100px;
}